body {
    
    background-image: url(Day_images/background.jpg);
    background-size: cover;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    
} 

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 120px;
    background-image: url(Day_images/navbar.jpg);
    background-size: cover;
    border-radius:25px;
}
.flex-container .signup {
    margin-left: auto;
}

.flex-container > div {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.navbar a{
    margin: 10px;
}

.signup a{
    margin: 100px;
}
.image1 {
   display: flex;
   justify-content: center;
   margin: 2rem;
}   
hr {
    width: 100%;
}
h2 {
    color: rgb(45, 112, 47);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.flex-container  a:hover {

    color: rgb(45, 112, 47);

} 
.flex-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    
}
.flex-container2 a{
    color: #ffffff;
}

.Work1 {
    display: flex;
    background-color: rgb(45, 112, 47);
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(45, 112, 47);
}    

.Work2 {
    display: flex;
    background-color: rgb(45, 112, 47);
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

}
.Work3 {
    display: flex;
    background-color: rgb(45, 112, 47);
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.flex-container2 :hover {
    background-color:#2e2e2e;
    
}
.flex-container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    
}
.flex-container3 a {
    display: flex;
    background-color: rgb(45, 112, 47);
    width: 6rem;
    height: 3rem;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: bold;
}